body
{
    font-family: Arial;
    font-size: 15px;
    margin: 0;
}

.navbar
{
    background-color: rgb(0, 120, 215);
    margin: 0px;
}

    .navbar ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
        
        .navbar ul li
        {
            display: inline-block;
            padding: 14px;
            width: 140px;
            cursor: pointer;
            background-color: transparent;
        }

            .navbar ul li.selected
            {
                background-color: rgb(0, 188, 242);
                color: rgb(255,255,255);
            }

            .navbar ul li.selected a:hover
            {
                color: rgb(0,120,215);
            }

    .navbar a
    {
        color: rgb(255,255,255);
    }

    .navbar a:hover
    {
        color: rgb(0, 188, 242);
    }

.content
{
    width: 850px;
    margin: auto;
}

.color
{
    height: 150px;
    width: 150px;
    display: inline-block;
    color: rgb(255,255,255);
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.color:hover
{
    cursor: pointer;
    height: 130px;
    width: 130px;
}

    .color.blue
    {
        background-color: rgb(0, 120, 215);
    }

    .color.orange
    {
        background-color: rgb(216, 59, 1);
    }

    .color.red
    {
        background-color: rgb(232, 17, 35);
    }

    .color.purple
    {
        background-color: rgb(92, 45, 145);
    }

    .color.green
    {
        background-color: rgb(16, 134, 16);
    }